@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.inputs {
  margin-right: 50%;
}

.title {
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: $titleMarginBottom;
}
