@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.innerSection {
  margin: $innerSection-margin;
}

.title {
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: $titleMarginBottom;
}

.sectionButtons {
  text-align: center;
  margin-bottom: 50px;
}
